elastic-apm==6.7.2
gunicorn==20.1.0
honcho==1.0.1
psycopg2-binary==2.9.3
python-dateutil==2.8.2
pytz

# flask
flask==2.0.1
blinker==1.4
flask-sqlalchemy==2.5.1
Flask-Migrate==3.1.0
SQLAlchemy==1.4.52
Werkzeug==2.3.8
